<h1>Fetch#shopify</h1>
<p>Find me in app/views/fetch/shopify.html.erb</p>

<h2>Output:</h2>
<ul>
<% @reviews.each do |review| %>
  <li>
    <%= review.inspect %>
    <br/><br/>
  </li>
<% end %>
</ul>
